@import "tailwindcss";

@font-face {
  font-family: 'Matrix';
  src: url('./assets/fonts/Matrix-MZ4P.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url(./assets/fonts/Archivo-VariableFont_wdth\,wght.woff2) format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url(./assets/fonts/Archivo-Italic-VariableFont_wdth\,wght.woff2) format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url(./assets/fonts/FiraCode-VariableFont_wght.woff2) format('woff2-variations'),
       url(./assets/fonts/FiraCode-VariableFont_wght.woff2) format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


html {
  scroll-behavior: smooth;
}

@theme {
  /* Definição de Cores Personalizadas */
  --color-brand-black: #0A1212;
  --color-brand-silver: #E0E6E6;
  --color-brand-frame: #142121;
  --color-brand-primary: #4FC8C2;

  /* Configuração de Fontes */
  --font-logo: "Matrix", serif;
  --font-support: "Archivo", sans-serif;
  --font-data: "Fira Code", monospace;
}

@keyframes fluid-entry {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@utility animate-hero {
  animation: fluid-entry 1s ease-out forwards;
}

/* Estilos globais básicos */
@layer base {
  body {
    @apply bg-brand-black text-brand-silver antialiased;
    font-family: var(--font-support);
  }
}